body {
  font-family: Arial, sans-serif;
  }

nav {  position: fixed;
	   background-color: #13293D; 
	   font-size: 110%;
	   text-align: center; 
	   width: 100%;
	   top: 0; left: 0; right: 0;
	   height: 40px;       
} 
nav ul { list-style-type: none; 
}

nav li {
      display: inline-block; padding: 0 30px 0 30px; 
	 
}
nav a { text-decoration: none; 
       display: block;
}
nav a:link { color: #ffffff; }
nav a:visited { color: #CEDFD9; }
nav a:hover {  color: #006494;}

nav ul ul { position: absolute;
            background-color: #EB4511;
            text-align: left;
            display: none; font-weight: bold;
			padding: 0;}
			
nav ul ul li {border: 1px solid #13293D;
         display: block; font-size: 75%;
         width: 10em; 
         padding: 2px 10px 2px 10px; 
		 }
		 
nav li:hover ul { display: block; }


/*FOOTER STYLES*/

footer { background-color: #13293D;
         width: 100%;
         font-size: 75%;
         text-align: center;	
         color: #EAEAEA;
         position: fixed;
         bottom: 0;	left: 0;
		 padding: .5em;
		 }	

/*MISC*/
		
h1 {text-align: center; color: #13293D;font-size: 3em}
h2 {text-align: center;color: #13293D}
	p {font-size: .9em;}
hr {width: 70vw; border-color: #13293D; border-width: 2px}
#Pmargin0 {margin: 0 0 16px 0}


.Apar {padding: 0 8px 0 10px}
.Abullet {text-indent: 20px}

span {color: #ffffff}

#firstartist {display: block; background-color: #E8F1F2; margin: 0 0 30px 0; padding: 20px;}
#div2 {display: block; width: 40vw; margin: 10px 0 10px 10px; padding: 10px}

#hh {float: right; margin: 0 0 5px 30px; border: 1px solid #000000;box-shadow: 6px 6px #006494}
.clearright {clear: right; }


#gallery {display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; background-color: #CEDFD9;
		}

#ResDiv1 {width: 100vw; height: 50px; margin: 35px 0; padding: 20px}
#ResDiv2 {width: 60vw; background-color: #E8F1F2; margin-right: auto; margin-left: auto; padding: 20px; border: 1px solid #13293D }
#ResDiv3 {width: 60vw; background-color: #CEDFD9; margin: 20px auto 50px auto; padding: 5px 20px 40px 20px; border: 1px solid #13293D}
#GalDiv1 {width: 65vw; background-color: #CEDFD9; margin: 60px auto 50px auto; padding: 10px 20px 10px 20px}
#HomeDiv1 {width: 75vw; background-color: #E8F1F2; margin: 60px auto 50px auto; padding: 5px 20px 40px 20px}
#HomeDiv2 {width: 65vw; background-color: #E8F1F2; padding: 10px 10px 10px 75px;column-count: 3; column-gap: 50px; column-rule: 1px solid #13293D;}
  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

  .fading-slideshow {
    position: relative;
    margin: 1em auto;
    padding: 10px;
    list-style-type: none;
    width: 865px;
    height: 300px;
  }
  .fading-slideshow > li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #CEDFD9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* current slide */

  .fading-slideshow > li:first-of-type {
    animation-name: fader;
    animation-delay: 2s;
    animation-duration: 1s;
    z-index: 20;
  }

  /* next slide to display */

  .fading-slideshow > li:nth-of-type(2) {
    z-index: 10;
  }

  /* all other slides */

  .fading-slideshow > li:nth-of-type(n+3) {
    display: none;
  }

